body {
    background-color: darkred;
    font-family: "monospace";
    color: white;
}

li {
    list-style-type: none;
    font-family: "monospace";
}

a {
    text-decoration: none;
    color: lightblue;    
}

a:hover{
    color: darkblue;
}

#head1 {
    border: 5px solid white;
}

.extreme {
    color: lightgreen;
    text-align: center;
}

.navzone {
    text-align: right;
}